@use "./helpers" as *;
@use "./base";

#app {
  width: 100%;
  overflow: hidden;
}

main {
  padding-top: rem(170);
  width: 100%;

  @include media("2xl") {
    padding-top: rem(120);
  }
  @include media(rem(980)) {
    padding-top: rem(80);
  }
}

section {
  padding: rem(50) 0;

  &:first-child {
    padding-top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(50);

    @include media("lg") {
      gap: rem(35);
    }
    @include media("sm") {
      gap: rem(25);
    }
  }

  @include media("sm") {
    padding: rem(25) 0;

    .container {
      gap: rem(25);
    }
  }
}

// @include show(".about", true, true);
