@use "scss/helpers" as *;

.text-h1 {
  font-size: rem(47);
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.35;

  @include media(lg) {
    font-size: rem(36);
  }
  @include media(sm) {
    font-size: rem(32);
  }
  @include media(xs) {
    font-size: rem(24);
  }
}

.text-h2 {
  font-size: rem(40);
  text-transform: uppercase;

  @include media(lg) {
    font-size: rem(24);
  }
  @include media(sm) {
    font-size: rem(20);
  }
  @include media(xs) {
    font-size: rem(18);
  }

  strong {
    color: var(--primary);
  }
}

.text-h3 {
  font-size: rem(22);

  @include media(lg) {
    font-size: rem(16);
  }
}

.text-h4 {
  color: var(--primary);
  font-size: rem(20);
  font-weight: 700;
  text-transform: uppercase;

  @include media(sm) {
    font-size: rem(18);
  }
}

.text-p {
  font-size: rem(18);
  font-family: var(--font-museo);

  @include media("lg") {
    font-size: rem(14);
  }
}
