---
interface Props {
  class?: string;
}
const { class: classname, ...rest } = Astro.props;
---

<p class="text-p" class:list={classname} {...rest}>
  <slot />
</p>

<style lang="scss" is:global>
  @use "./index";
</style>
