@use "../helpers" as *;

:root {
  --primary: #c5594d;
  --primary-lighter: #{lighten(#c5594d, 5%)};
  --primary-darker: #{darken(#c5594d, 5%)};
  --secondary: #0bbf8c;
  --secondary-darker: #{darken(#0bbf8c, 5%)};
  --background: #fff;
  --text-color: #000;
  --gray: #5F5F5F;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --transition-ease: 0.3s ease;
  --transition-bezier: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  --content-width: #{rem(1820)};
  --content-padding: #{rem(40)};
}

@include media("xl") {
  :root {
    --content-width: #{rem(1024)};
  }
}
@include media("lg") {
  :root {
    --content-width: #{rem(768)};
  }
}
@include media("md") {
  :root {
    --content-width: #{rem(640)};
  }
}
@include media("sm") {
  :root {
    --content-width: #{rem(475)};
    --content-padding: #{rem(16)};
  }
}

.container {
  margin: 0 auto;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  width: 100%;
  max-width: calc(var(--content-width) + var(--content-padding) * 2);
}
