@use "../helpers" as *;

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("/assets/fonts/MuseoSansCyrl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #c5594d;
  --primary-light: #c5594d80;
  --primary-lighter: rgba(197, 89, 77, 0.69);
  --primary-darker: #{darken(#c5594d, 5%)};
  --secondary: #585359;
  --background: #fff;
  --text-color: #000;
  --gray: #5f5f5f;
  --font-primary: "Comfortaa", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-museo: "Museo Sans Cyrl", sans-serif;
  --transition-ease: 0.3s ease;
  --transition-bezier: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  --content-width: #{rem(1780)};
  --content-padding: #{rem(40)};
}

@include media("xl") {
  :root {
    --content-padding: #{rem(20)};
  }
}
@include media("sm") {
  :root {
    --content-padding: #{rem(16)};
  }
}

.container {
  margin: 0 auto;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  width: 100%;
  max-width: calc(var(--content-width) + var(--content-padding) * 2);
}
