---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="О компании">
  <main>
    <Blocks.History />
    <Blocks.Timeline />
    <Blocks.Yakimal />
    <Blocks.WhyUs />
    <Blocks.Geography />
    <Blocks.Partners />
    <Blocks.News />
  </main>
</App>
