---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Брендирование">
  <main>
    <Blocks.Branding />
    <Blocks.Advantages />
    <Blocks.Stages />
    <Blocks.Application />
  </main>
</App>
