---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Каталог">
  <main>
    <Blocks.Catalog />
    <Blocks.Products
      catalog="кунжут, семена, орехи"
      img="1"
      title="Сухари панировочные Панко (Panko)"
    />
    <Blocks.Products
      catalog="бульоны"
      img="2"
      title='Бульон говяжий ТМ "Yakimal", 2 кг'
    />
    <Blocks.Products
      catalog="Сухари панировочные, Темпурные смеси, Мука"
      img="3"
      title="Сухари панировочные Панко (Panko)"
    />
    <Blocks.Products
      catalog="масло"
      img="4"
      title='Масло кунжутное ТМ "Yakimal"'
    />
    <Blocks.Products
      catalog="Соусы, уксусы"
      img="5"
      title='Соус "Тонкацу" ТМ "Yakimal", 1,8 л'
    />
    <Blocks.Products
      catalog="все для рамена"
      img="6"
      title='Основа для   рамен Рамен Сею, 1,2 кг'
    />
      <Blocks.Products
      catalog="Приправы, Крахмал"
      img="7"
      title='Перец   "Шичими" ТМ "Yakimal", 300 гр  '
    />
  </main>
</App>
