---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Каталог (категория)">
  <main>
    <Blocks.Products isMain />
    <Blocks.Application />
    <Blocks.News />
  </main>
</App>
