---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Главная">
  <Fragment slot="header">
    <style is:inline>
      .header__top-logo {
        opacity: 0;
        pointer-events: none;
      }

      .header.sticky .header__top-logo {
        opacity: 1;
        pointer-events: all;
      }
    </style>
  </Fragment>

  <main>
    <Blocks.Hero />
    <Blocks.OurProducts />
    <Blocks.About />
    <Blocks.Application />
    <Blocks.News />
  </main>
</App>
