---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Товар">
  <main>
    <Blocks.Product />
    <Blocks.Products catalog="Похожие товары" img="1" title="Арахис жареный" />
    <Blocks.ProductRecipes />
    <Blocks.Application />
  </main>
</App>
