---
import { H4 } from "ui";
import TheForm from "../../TheForm.astro";
---

<div class="modal-overlay">
  <div class="modal" data-template="callback">
    <div class="modal-form">
      <div class="btn-close" data-modal="close"></div>
      <TheForm />
    </div>
  </div>

  <div class="modal" data-template="success">
    <div class="modal-form">
      <div class="btn-close" data-modal="close"></div>
      <TheForm success={true} />
    </div>
  </div>
</div>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  /* Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    @include media("lg") {
      justify-content: center;
      align-items: center;
    }
    @include media("sm") {
      align-items: flex-end;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  /* Modal */
  .modal {
    width: fit-content;
    transform: translate(-5%, 5%);
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
    align-items: center;
    justify-content: center;

    @include media("lg") {
      transform: translate(0, 5%) scale(0.8);
    }
    @include media("sm") {
      width: 100%;
    }

    &.show {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .modal-form {
    position: relative;
    padding: rem(75) rem(100) rem(100) rem(100);
    min-height: rem(350);
    width: rem(1600);
    color: #fff;
    background: var(--primary);

    @include media("3xl") {
      padding: rem(60);
      max-width: 85vw;
    }
    @include media("lg") {
      padding: rem(40);
      width: 100%;
      max-width: calc(100vw - rem(40));
    }
    @include media("sm") {
      padding: rem(30) rem(20);
      min-height: rem(250);
      max-width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(25%, 0);
      width: rem(830);
      height: rem(530);
      max-height: 90%;
      max-width: 150%;
      background: url("/assets/img/mountains-white.svg") center/contain
        no-repeat;
      pointer-events: none;

      @include media("sm") {
        height: 80%;
        background-position: bottom;
      }
    }

    .btn-close {
      position: absolute;
      top: rem(35);
      right: rem(35);
      z-index: 2;
      width: rem(40);
      height: rem(40);
      background: url('data:image/svg+xml,<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L16.5 16.5" stroke="%23ffffff" /><path d="M16.5 1L1 16.5" stroke="%23ffffff" /></svg>')
        center/contain no-repeat;
      cursor: pointer;

      @include media("3xl") {
        width: rem(35);
        height: rem(35);
      }
      @include media("lg") {
        top: rem(20);
        right: rem(20);
        width: rem(30);
        height: rem(30);
      }
      @include media("sm") {
        top: rem(15);
        right: rem(15);
        width: rem(24);
        height: rem(24);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: rem(35);

      @include media("lg") {
        gap: rem(25);
      }
      @include media("sm") {
        gap: rem(20);
      }
    }

    .the-form {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: rem(880);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30) rem(20);

      @include media("3xl") {
        max-width: rem(780);
        gap: rem(25) rem(20);
      }
      @include media("md") {
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: rem(15);
      }

      .text-p {
        color: var(--text-color);

        a {
          color: #fff;
        }
      }
    }

    .form-field {
      color: var(--text-color);
      background: #fff;
      border: none;
    }

    .btn-primary {
      height: rem(70);
      --primary: #fff;

      @include media("lg") {
        height: rem(60);
      }
      @include media("xs") {
        height: rem(50);
      }

      hr {
        background: #fff;
      }

      span {
        color: #fff;
      }

      &:hover span {
        color: #c5594d !important;
      }
    }
  }
</style>
