---
import { H2, H3, P, Button } from "ui";

interface Props {
  success?: boolean;
  id?: string;
}

const { success = false, id } = Astro.props;
---

<div class="form">
  {
    success ? (
      <>
        <H2>СПАСИБО ЗА ЗАЯВКУ!</H2>
        <P>
          Наши менеджеры перезвонят Вам для <br /> уточнения деталей!
        </P>
      </>
    ) : (
      <>
        <H2>Получите оптовый прайс-лист</H2>
        <P>
          Заполните форму ниже и мы вышлем актуальный прайс-лист нашей продукции
          а также <br /> презентационные материалы о компании
        </P>

        <form class="application__form the-form">
          <div class="form-field">
            <label>Наименование компании</label>
            <input
              type="text"
              name="company"
              placeholder="Введите название компании"
              required
            />
          </div>
          <div class="form-field">
            <label>Контактное лицо</label>
            <input
              type="text"
              name="contact"
              placeholder="Имя контактного лица"
              required
            />
          </div>
          <div class="form-field">
            <label>ИНН</label>
            <input
              type="text"
              name="inn"
              placeholder="Введите ИНН компании"
              required
            />
          </div>
          <div class="form-field">
            <label>Номер телефона</label>
            <input
              type="text"
              name="phone"
              placeholder="+7 (___) ___-__-__"
              required
            />
          </div>
          <div class="form-field">
            <label>Ваш город </label>
            <input
              type="text"
              name="city"
              placeholder="Введите ваш город"
              required
            />
          </div>
          <div class="form-field">
            <label>E-mail</label>
            <input
              type="text"
              name="email"
              placeholder="Введите ваш E-mail"
              required
            />
          </div>
          <Button jp="送信" ru="запросить прайс-лист" />
          <P>
            Отправляя заявку я даю согласие на обработку
            <a
              href="#"
              class="underline text-primary"
              target="_blank"
              title="персональных данных"
            >
              персональных данных
            </a>
          </P>
        </form>
      </>
    )
  }
</div>
