---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- About -->
<Section name="about">
  <H2>
    <strong>会社</strong>
    <hr>
    О компании yakimal 
  </H2>
  
  .about </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .about {
    position: relative;
  }
</style>
