---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Contacts -->
<Section name="contacts">
  <H2 data-aos="fade-up" data-aos-duration="800"
    ><strong>Контакты</strong> YAKIMAL
  </H2>

  <div class="wrapper">
    <div class="contacts__map" data-aos="fade-right" data-aos-duration="1000">
      <div class="contacts__map-logos">
        <div class="pattern-animated"></div>
        <div class="pattern-animated"></div>
        <div class="pattern-animated"></div>
      </div>
      <div id="yamap" class="contacts__map-iframe"></div>
    </div>

    <div
      class="contacts__content"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <div class="contacts__list">
        <div
          class="contacts__item"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="300"
        >
          <div class="contacts__item-label">Телефон для связи:</div>
          <a
            class="contacts__item-link"
            href="tel:+74950558685"
            title="Телефон"
            target="_blank">8 (495) 055-86-85</a
          >
        </div>

        <div
          class="contacts__item"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="400"
        >
          <div class="contacts__item-label">Отдел продаж:</div>
          <a
            class="contacts__item-link"
            href="mailto:sales@yakimal.com"
            title="Email отдел продаж"
            target="_blank">SALES@YAKIMAL.COM</a
          >
        </div>

        <div
          class="contacts__item"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="500"
        >
          <div class="contacts__item-label">Отдел бухгалтерии:</div>
          <a
            class="contacts__item-link"
            href="mailto:buh@yakimal.com"
            title="Email отдел бухгалтерии"
            target="_blank">BUH@YAKIMAL.COM</a
          >
        </div>

        <div
          class="contacts__item"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="500"
        >
          <div class="contacts__item-label">Для связи:</div>
          <a
            class="contacts__item-link"
            href="mailto:office@yakimal.com"
            title="Email для связи"
            target="_blank">OFFICE@YAKIMAL.COM</a
          >
        </div>

        <div
          class="contacts__item"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="600"
        >
          <div class="contacts__item-label">Адрес производства:</div>
          <div class="contacts__item-link">
            ХЛАДОКОМБИНАТ №15 "ИКМА"<br />
            Г. МОСКВА, УЛИЦА ИЖОРСКАЯ, Д. 3, СТР. 2
          </div>
        </div>
      </div>

      <p class="contacts__desc">
        Вступайте в horeca club, где мы публикуем свежие новости <br /> в сФере horeca
        а так же анонсы наших мероприятий
      </p>

      <div class="contacts__qr-codes">
        <a href="#" target="_blank" title="Telegram">
          <Image src="qr-telegram-2.svg" />
        </a>
        <a href="#" target="_blank" title="VK">
          <Image src="qr-vk.svg" />
        </a>
      </div>
    </div>
  </div>

  <div class="contacts__right">
    <span class="font-montserrat">パ ー フ ェ ク シ ョ ン </span>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .contacts {
    position: relative;
    margin-top: rem(80);

    @include media("3xl") {
      margin-top: rem(50);
    }
    @include media("sm") {
      margin-top: rem(30);
    }

    .container {
      @include media("xl") {
        gap: rem(35);
      }
      @include media("sm") {
        gap: rem(25);
      }
    }

    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 0.9fr 1.1fr;
      gap: rem(20);

      @include media(rem(980)) {
        grid-template-columns: 1fr;
      }
    }

    &__map {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);

      @include media(rem(980)) {
        grid-template-columns: 1fr;
      }

      &-logos {
        width: 100%;
        height: 100%;
        background: var(--primary);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include media(rem(980)) {
          height: rem(125);
        }

        .pattern-animated {
          width: 100%;
          min-height: 100%;
          height: 100%;
          background: var(--primary) center/cover no-repeat;
          background-image: url('data:image/svg+xml,<svg width="430" height="986" viewBox="0 0 430 986" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect width="430" height="986" fill="%23C5594D"/><rect width="430" height="986" fill="url(%23pattern0_487_2003)"/><defs><pattern id="pattern0_487_2003" patternUnits="userSpaceOnUse" viewBox="-13984 -10082.5 42 71.4282" width="45.711626230284224%" height="33.903035187375515%" patternContentUnits="objectBoundingBox"><g id="pattern0_487_2003_inner"><path d="M-14005 -10116.5C-14000.1 -10116.5 -13995.4 -10114.6 -13991.9 -10111.2C-13988.5 -10107.8 -13986.5 -10103.3 -13986.5 -10098.5C-13986.5 -10093.7 -13988.5 -10089.1 -13992 -10085.7C-13995.4 -10082.3 -14000.1 -10080.4 -14005 -10080.4C-14009.9 -10080.4 -14014.6 -10082.3 -14018.1 -10085.7C-14021.5 -10089.1 -14023.5 -10093.7 -14023.5 -10098.5C-14023.5 -10103.3 -14021.5 -10107.8 -14018.1 -10111.2C-14014.6 -10114.6 -14009.9 -10116.5 -14005 -10116.5ZM-14005 -10119C-14016.6 -10119 -14026 -10109.8 -14026 -10098.5C-14026 -10087.1 -14016.6 -10077.9 -14005 -10077.9C-13993.4 -10077.9 -13984 -10087.1 -13984 -10098.5C-13984 -10109.8 -13993.4 -10119 -14005 -10119Z" fill="white" fill-opacity="0.09"/><path d="M-14005 -10109.3C-14002.2 -10109.3 -13999.8 -10111.2 -13999.1 -10113.7C-13999.9 -10114 -14000.7 -10114.2 -14001.6 -10114.4C-14002 -10112.9 -14003.4 -10111.8 -14005 -10111.8C-14006.7 -10111.8 -14008.1 -10112.9 -14008.5 -10114.4C-14009.3 -10114.2 -14010.1 -10114 -14010.9 -10113.7C-14010.2 -10111.2 -14007.8 -10109.3 -14005 -10109.3Z" fill="white" fill-opacity="0.09"/><path d="M-13998.3 -10090.5C-13998.3 -10094.8 -13994.7 -10098.3 -13990.4 -10098.3C-13989.7 -10098.3 -13989 -10098.2 -13988.4 -10098C-13988.3 -10098.2 -13988.3 -10098.3 -13988.3 -10098.5C-13988.3 -10099.2 -13988.4 -10099.9 -13988.5 -10100.6C-13989.1 -10100.7 -13989.7 -10100.7 -13990.4 -10100.7C-13996.2 -10100.7 -14000.8 -10096.2 -14000.8 -10090.5C-14000.8 -10087.9 -13999.8 -10085.5 -13998.1 -10083.7C-13997.3 -10084 -13996.6 -10084.4 -13995.8 -10084.9C-13997.4 -10086.3 -13998.3 -10088.3 -13998.3 -10090.5Z" fill="white" fill-opacity="0.09"/><path d="M-14019.6 -10104.8C-14019.9 -10104.8 -14020.1 -10104.8 -14020.4 -10104.8C-14020.7 -10104 -14021 -10103.1 -14021.2 -10102.2C-14020.7 -10102.3 -14020.2 -10102.3 -14019.6 -10102.3C-14013 -10102.3 -14007.5 -10097 -14007.5 -10090.5C-14007.5 -10087.7 -14008.6 -10085.1 -14010.3 -10083.1C-14009.4 -10082.8 -14008.5 -10082.6 -14007.6 -10082.4C-14006 -10084.7 -14005 -10087.5 -14005 -10090.5C-14005 -10098.4 -14011.5 -10104.8 -14019.6 -10104.8Z" fill="white" fill-opacity="0.09"/><path d="M-14002.5 -10090.5C-14002.5 -10097 -13997 -10102.3 -13990.4 -10102.3C-13989.8 -10102.3 -13989.3 -10102.3 -13988.8 -10102.2C-13989 -10103.1 -13989.3 -10104 -13989.6 -10104.8C-13989.9 -10104.8 -13990.1 -10104.8 -13990.4 -10104.8C-13998.5 -10104.8 -14005 -10098.4 -14005 -10090.5C-14005 -10087.5 -14004.1 -10084.7 -14002.4 -10082.4C-14001.5 -10082.6 -14000.6 -10082.8 -13999.7 -10083.1C-14001.4 -10085.1 -14002.5 -10087.7 -14002.5 -10090.5Z" fill="white" fill-opacity="0.09"/><path d="M-14005 -10105C-14000.5 -10105 -13996.7 -10107.8 -13995.2 -10111.6C-13995.9 -10112.1 -13996.6 -10112.6 -13997.4 -10113C-13998.4 -10109.8 -14001.5 -10107.5 -14005 -10107.5C-14008.6 -10107.5 -14011.6 -10109.8 -14012.6 -10113C-14013.3 -10112.6 -14014.1 -10112.1 -14014.8 -10111.6C-14013.3 -10107.8 -14009.5 -10105 -14005 -10105Z" fill="white" fill-opacity="0.09"/><path d="M-14013.5 -10090.5C-14013.5 -10093.8 -14016.3 -10096.5 -14019.6 -10096.5C-14020.3 -10096.5 -14020.9 -10096.4 -14021.5 -10096.2C-14021.4 -10095.4 -14021.2 -10094.6 -14020.9 -10093.8C-14020.5 -10093.9 -14020.1 -10094 -14019.6 -10094C-14017.7 -10094 -14016.1 -10092.5 -14016.1 -10090.5C-14016.1 -10089.4 -14016.6 -10088.4 -14017.5 -10087.7C-14016.9 -10087.1 -14016.3 -10086.5 -14015.7 -10086C-14014.4 -10087.1 -14013.5 -10088.7 -14013.5 -10090.5Z" fill="white" fill-opacity="0.09"/><path d="M-14005 -10101C-13999.4 -10101 -13994.5 -10104.1 -13992 -10108.7C-13992.6 -10109.4 -13993.2 -10110 -13993.9 -10110.6C-13995.8 -10106.4 -14000 -10103.5 -14005 -10103.5C-14010 -10103.5 -14014.2 -10106.4 -14016.1 -10110.6C-14016.8 -10110 -14017.4 -10109.3 -14018 -10108.7C-14015.5 -10104.1 -14010.6 -10101 -14005 -10101Z" fill="white" fill-opacity="0.09"/><path d="M-13993.9 -10090.5C-13993.9 -10092.5 -13992.3 -10094 -13990.4 -10094C-13989.9 -10094 -13989.5 -10093.9 -13989.1 -10093.8C-13988.8 -10094.6 -13988.6 -10095.4 -13988.5 -10096.2C-13989.1 -10096.4 -13989.7 -10096.5 -13990.4 -10096.5C-13993.8 -10096.5 -13996.5 -10093.8 -13996.5 -10090.5C-13996.5 -10088.7 -13995.6 -10087.1 -13994.3 -10086C-13993.7 -10086.5 -13993.1 -10087.1 -13992.5 -10087.7C-13993.4 -10088.4 -13993.9 -10089.4 -13993.9 -10090.5Z" fill="white" fill-opacity="0.09"/><path d="M-14019.6 -10098.3C-14015.3 -10098.3 -14011.7 -10094.8 -14011.7 -10090.5C-14011.7 -10088.3 -14012.7 -10086.3 -14014.2 -10084.9C-14013.4 -10084.4 -14012.7 -10084 -14011.9 -10083.7C-14010.2 -10085.5 -14009.2 -10087.9 -14009.2 -10090.5C-14009.2 -10096.2 -14013.8 -10100.7 -14019.6 -10100.7C-14020.3 -10100.7 -14020.9 -10100.7 -14021.5 -10100.6C-14021.6 -10099.9 -14021.7 -10099.2 -14021.7 -10098.5C-14021.7 -10098.3 -14021.7 -10098.2 -14021.6 -10098C-14021 -10098.2 -14020.3 -10098.3 -14019.6 -10098.3Z" fill="white" fill-opacity="0.09"/></g><use xlink:href="%23pattern0_487_2003_inner" transform="translate(42 0)"/><use xlink:href="%23pattern0_487_2003_inner" transform="translate(21 35.7141)"/><use xlink:href="%23pattern0_487_2003_inner" transform="translate(63 35.7141)"/><use xlink:href="%23pattern0_487_2003_inner" transform="translate(0 71.4282)"/><use xlink:href="%23pattern0_487_2003_inner" transform="translate(42 71.4282)"/></pattern></defs></svg>');
        }
      }

      &-iframe {
        width: 100%;
        height: 100%;
        border: none;

        @include media(rem(980)) {
          height: rem(350);
        }
        @include media("sm") {
          height: rem(285);
        }
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(50);

      @include media("xl") {
        gap: rem(30);
      }
      @include media(rem(980)) {
        margin-top: rem(10);
      }
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(40);

      @include media("xl") {
        gap: rem(20);
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);

      &-label {
        font-size: rem(18);
        text-transform: uppercase;

        @include media("xl") {
          font-size: 1rem;
        }
      }

      &-link {
        color: var(--primary);
        font-size: rem(20);
        font-family: var(--font-montserrat);
        text-transform: uppercase;

        @include media("xl") {
          font-size: 1rem;
        }
        @include media(rem(980)) {
          font-size: rem(14);
        }
      }
    }

    &__desc {
      font-size: rem(18);
      line-height: 1.5;
      text-transform: uppercase;

      @include media("xl") {
        font-size: 1rem;
      }
      @include media("lg") {
        font-size: rem(14);
      }
    }

    &__qr-codes {
      display: flex;
      align-items: center;
      gap: rem(50);

      @include media("xs") {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(40);
      }

      img {
        width: rem(200);
        height: rem(200);
        object-fit: contain;

        @include media("lg") {
          width: rem(185);
          height: rem(185);
        }
        @include media("xs") {
          width: 100%;
          height: auto;
        }
      }
    }

    &__right {
      position: absolute;
      top: rem(-80);
      right: rem(250);

      @include media("3xl") {
        top: rem(-20);
        right: rem(180);
      }
      @include media("xl") {
        top: 0;
        right: rem(120);
      }
      @include media(rem(980)) {
        display: none;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
      }

      &::before {
        top: 50%;
        transform: translate(4%, -50%);
        width: rem(700);
        height: rem(700);
        background: var(--primary-lighter);
        border-radius: 50%;

        @include media("3xl") {
          width: rem(600);
          height: rem(600);
        }
        @include media("xl") {
          width: rem(500);
          height: rem(500);
        }
      }

      &::after {
        bottom: rem(-100);
        left: rem(120);
        width: rem(146);
        height: rem(216);
        background: url('data:image/svg+xml,<svg width="146" height="216" viewBox="0 0 146 216" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="6" fill="%23585359"/><circle cx="6" cy="74" r="6" fill="%23585359"/><circle cx="6" cy="142" r="6" fill="%23585359"/><circle cx="6" cy="210" r="6" fill="%23585359"/><circle cx="73" cy="6" r="6" fill="%23585359"/><circle cx="73" cy="74" r="6" fill="%23585359"/><circle cx="73" cy="142" r="6" fill="%23585359"/><circle cx="73" cy="210" r="6" fill="%23585359"/><circle cx="140" cy="6" r="6" fill="%23585359"/><circle cx="140" cy="74" r="6" fill="%23585359"/><circle cx="140" cy="142" r="6" fill="%23585359"/><circle cx="140" cy="210" r="6" fill="%23585359"/></svg>')
          center/contain no-repeat;

        @include media("3xl") {
          display: none;
        }
      }

      span {
        color: var(--primary);
        font-size: rem(62);
        writing-mode: vertical-rl;
        line-height: 1;

        @include media("3xl") {
          font-size: rem(48);
        }
        @include media("xl") {
          font-size: rem(32);
        }
      }
    }
  }
</style>
