---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Contacts -->
<Section name="contacts"> .contacts </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .contacts {
    position: relative;
  }
</style>
