---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Плавно скролятся города России -->

<!-- Geography -->
<Section name="geography"> .geography </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .geography {
    position: relative;
  }
</style>
