---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Partners -->
<Section name="partners"> .partners </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .partners {
    position: relative;
  }
</style>
