---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Products -->
<Section name="products"> .products </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .products {
    position: relative;
  }
</style>
