---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Stages -->
<Section name="stages"> .stages </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .stages {
    position: relative;
  }
</style>
