---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Why Us -->
<Section name="why-us"> .why-us </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .why-us {
    position: relative;
  }
</style>
