---
import { Image, Icon, H3 } from "ui";
---

<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <a href="/" class="footer__logo">
        <Image src="logo.svg" />
      </a>

      <ul class="menu">
        <li class="menu-item active"><a href="/">Главная</a></li>
        <li class="menu-item"><a href="/catalog">Каталог</a></li>
        <li class="menu-item"><a href="/about">о компании</a></li>
        <li class="menu-item"><a href="/brands">брендирование </a></li>
        <li class="menu-item"><a href="/marketplace">маркетплейсы </a></li>
        <li class="menu-item"><a href="/news">Новости </a></li>
        <li class="menu-item"><a href="/recipes">РЕцепты </a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>

      <div class="footer__copyright">
        © 2016-<span id="current-year">2025</span> . ООО "Якимал".
      </div>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .footer {
    padding-top: rem(50);
    width: 100%;
    --content-width: #{rem(1480)};

    @include media("3xl") {
      --content-width: #{rem(1180)};
    }
    @include media("xl") {
      --content-width: #{rem(800)};
    }
    @include media("sm") {
      padding-top: rem(25);
    }

    &__content {
      padding-top: rem(32);
      padding-bottom: rem(56);
      font-family: var(--font-museo);
      border-top: rem(2) solid var(--primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(40);

      @include media("sm") {
        padding-top: rem(22);
        padding-bottom: rem(100);
        gap: rem(20);
      }
    }

    &__logo {
      display: block;
      height: rem(45);

      @include media("sm") {
        height: rem(35);
      }

      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: rem(20);

      @include media("sm") {
        display: none;
      }

      &-item {
        text-transform: uppercase;
        transition: var(--transition-ease);

        @include media("xl") {
          font-size: rem(14);
        }

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
