---
import "./assets/scss/styles.scss";
import { Header, Footer, Modal, QR_Code } from "@/components/layout";

const version = Math.random().toString(16).slice(10);

const styles: string[] = [
  "/assets/css/aos.min.css",
  "/assets/css/swiper.min.css",
  "/assets/css/fancybox.min.css",
];

const scripts: string[] = [
  "/assets/js/aos.min.js",
  "/assets/js/swiper.min.js",
  "/assets/js/fancybox.min.js",
  "/assets/js/yandexmap.min.js",
  `/assets/js/app.js?v=${version}`,
];

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Site description" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    {styles.map((style) => <link rel="stylesheet" href={style} />)}
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <div id="app">
      <slot name="header" />
      <!-- Header -->
      <Header />
      <!-- Main -->
      <slot />
      <!-- Footer -->
      <Footer />
      <!-- Modal -->
      <Modal />
      <!-- QR Code -->
      <QR_Code />
      <slot name="footer" />
    </div>
    <!-- Scripts -->
    {scripts.map((script) => <script src={script} />)}
  </body>
</html>
